{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/styles/login.css' %}">
</head>
<body>
    <div class="login_box">
        <div class="login_content">
            <div>
                <h1>Login</h1>
                <hr>

                <p class="error">{{error}}</p>
                <form action="/login/" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <p>¿Todavia no tienes una cuenta en LEV? <a href="{% url 'signup' %}">Regístrate</a></p>
                    <button type="submit">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
<script src="{% static 'login.js' %}"></script>
</body>
</html>